<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Pädagogischer Tag 2019</title>  
        <link rel="stylesheet" href="styles.css">  
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="msapplication-TileColor" content="#da532c">        
        <meta name="theme-color" content="#ffffff">              
    </head>
    <body>   
        <%- header %>
        <div class="content">                    
            <%- badges %>
            <br>
            <a href="/tagesablauf" class="button">Tagesablauf ansehen</a>
            <p>
            <a href="/workshops" class="button">über Workshops informieren</a>
            <p>                
            <% for(var i=0; i < lehrerWahlen.length; i++) {%>            
                <a href="/wahl?w=<%= i %>" style="background-color:<%= lehrerWahlen[i].color %>" class="button"><i class="fa fa-<%= lehrerWahlen[i].icon %>"></i> <%- lehrerWahlen[i].label %></a>
                <p>
            <% } %>    
        </div>        
        <%- footer %>
    </body>
</html>