<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>   
        <div class="top-container">
            <h1><%= themaDesTages %></h1>
            <p><%= beschreibung %></p>
        </div>
        <div class="header" id="myHeader">
            <h2><%= hinweis %></h2>            
        </div>
        
        <% if(badgeTitle){ %>
                <div class="double-val-label">
                    <span class="success"><%- badgeTitle %></span>
                    <span><%- badgeBody %></span>
                </div>       
        <% } %> 

        <div class="container">                                    
            <form method="POST" action="/wahl?w=<%= index %>">
                <input type="hidden" id="index" name="index" value="<%= index %>">
                <ul>
                    <% for(var i=0; i < items.optionen.length; i++) {%>            
                        <li>
                            <input type="radio" id="<%=items.optionen[i].id%>" name="element" value="<%=items.optionen[i].id%>">
                            <label for="<%=items.optionen[i].id%>"><%=items.optionen[i].label%></label>                                
                            <div class="check"><div class="inside"></div></div>
                        </li>
                    <% } %>
                </ul>
                <br>                
                <button class="button" style="width: 80%">Speichern</button>
            </form>
            <br>        
        </div>
                
        <footer class="footer-distributed">        
                <div class="footer-left">        
                    <p class="footer-links">
                        <a href="/">HOME</a>
                        ·
                        <a href="/Tagesablauf">Tagesablauf</a>
                        ·
                        <a href="/workshops">Workshops</a>
                        ·                            
                        <% for(var i=0; i < wahlen.length; i++) {%>            
                            <a href="/wahl?w=<%- i %>"> <%- wahlen[i].name %></a>                                    
                        <% } %>
                        ·
                        <a href="/about">About</a>
                        ·
                        <a href="/abmelden">Logout</a>
                    </p>
    
                    <p>Made with <i class="much-heart"></i> by GW12A & Stefan Bäumer</p>
                </div>        
    </footer>
    </body>
</html>