<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">        
        <link rel="stylesheet" href="styles.css">          
    </head>
    <body>   
        <div class="top-container">
            <h1><%= themaDesTages %></h1>
            <p><%= optionen.beschreibung %></p>
        </div>
        <div class="header" id="myHeader">
            <h2><%= optionen.titel %></h2>            
        </div>
        <div class="center">
            <% if(optionen){ %>                            
                <% for(var i=0; i < optionen.length; i++) {%>
                    <h2><%- i + 1 %>. <%- optionen[i].label %></h2>
                    <p><%- optionen[i].beschreibung %></p>
                    <hr>                    
                <% } %>                                                
                <% } %> 
            </div>                    
            <footer class="footer-distributed">        
                    <div class="footer-left">        
                        <p class="footer-links">
                            <a href="/">HOME</a>
                            ·
                            <a href="/Tagesablauf">Tagesablauf</a>
                            ·
                            <a href="/workshops">Workshops</a>
                            ·                            
                            <% for(var i=0; i < wahlen.length; i++) {%>            
                                <a href="/wahl?w=<%- i %>"> <%- wahlen[i].name %></a>                                    
                            <% } %>
                            ·
                            <a href="/about">About</a>
                            ·
                            <a href="/abmelden">Logout</a>
                        </p>
        
                        <p>Made with <i class="much-heart"></i> by GW12A & Stefan Bäumer</p>
                    </div>        
        </footer>
    </body>
</html>